<!-- src/main/resources/templates/tasks.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Management</title>
</head>
<body>
    <h1>Task Management</h1>

    <ul>
        <li th:each="task, index : ${tasks}">
            <span th:text="${task.title}"></span>
            <a th:href="@{/edit-task/{index}(index=${index.index})}">Edit</a>
        </li>
    </ul>

    <a th:href="@{/create-task}">Create New Task</a>
</body>
</html>
